h2
	| Contacto

.clear

.left

	p 
		| Av. Las Américas #340 Fracc. Las Américas, 
	p
		| Morelia, Michoacán Méxoco.
	h3
		| Tel: +52 (314) 15 76
.right
	form(id="form", method="", action="")

		p Nombre:
			br
			input(type="text", name="name", placeholder="Nombre")
		p Correo:
			br
			input(type="email", name="email", placeholder="email@email.com")
		p
			input(type="submit")
