h2
	| Servicios
	span 

section.tab
	a.to-open(href="#", title="Diseño") 
		h3 Diseño

	.container
		.holder
			p.el Ingenieros altamente calificados desarrollan proyectos que ofrecen a los usuarios finales las mejores condiciones de seguridad, eficiencia, ergonomía y espacio, cumpliendo siempre con las normas que cada uno de nuestros clientes establece. Diseños enteros y/o parciales de mejoras en líneas existentes y/o nuevas.
			p.el El control electrónico 100% automatizado con su respectiva ubicación y posicionamiento de los diferentes componentes, como sensores, motores, gabinetes, charolas. Con coordinación y supervisión de proyectos por GSA puede Usted ahorrar tiempo valioso de Sus propios Ingenieros, y beneficiarse con nuestra experiencia. Garantizado.	

section.tab
	a.to-open(href="#", title="Automatización") 
		h3 Automatización

	.container
		.holder
			p.el Contamos con personal especializado para todo tipo de automatización, aplicando la mas reciente tecnología de los marcas mas reconocidas por su calidad en automatización industrial. -Cambio control relevador a PLC.

			ul.el
				li Actualización del control automático PLC con la tecnología mas reciente.
				li Implementar redes industriales y eliminar interfaces de Hardware (Relevadores).
				li Incluir nuevos funciones 100% automatizadas.
				li Mejorar la eficiencia de líneas de producción implementando comunicación entre los diferentes equipos.
				li Implementar visualización de las líneas de producción.
				li Centralizar la operación de diferentes equipos a un centro de control.

			p.el Como Integrador independiente trabajamos con la marca de su preferencia, para garantizar el funcionamiento deseado: Allen Bradley, Siemens, Wonderware, CTC, Danfoss, SEW, Ethernet, Device Net, Control Net, Profibus, DVT, Festo, Parker, Leuze, Balluff, Endress & Hauser, Pepperl & Fuchs, Kloeckner 

section.tab
	a.to-open(href="#", title="Redes")
		h3 Redes

	.container
		.holder
			p.el Para generar una integración total de los Sistemas, GSA se esfuerza día con día para tener tecnicos especializados en las diferentes protocolos de comunicación para su implementación en las aplicaciones de Control y Automatización.

			p.el Las implementaciones de GSA se basan en los siguientes protocolos:

			ul.el
				li ETHERNET LAN (Local Area Networks)
				li Device Net
				li Control Net
				li DH++
				li Profibus
				li Modbus y Modbus+

section.tab
	a.to-open(href="#", title="DTIC")
		h3 Desarrollo de Tecnologias de Información y Conocimiento.

	.container
		.holder
			p.el En busca de la entera satisfacción de nuestros clientes, Global Solutions in Automatión cuenta con un grupo de desarrolladores en Sistemas Computacionales que trabajan día con día en la investigación y desarrollo de nuevas herramientas tecnológicas de software para la integración de los sistemas industriales en busca de un mejor funcionamiento de los mismos.

			p.el GSA trabaja también con el desarrollo de sistemas de gestión en Bases de datos (SQL Server, MySql y MS Access), implementación de sitios web con una integración total de tecnologías para el desarrollo de aplicaciones en Internet, Desarrollo de aplicaciones Cliente - Servidor y Aplicaciones de escritorio creadas a la medida de las necesidades de los usuarios actuales.

section.tab
	a.to-open(href="#", title="Documentación")
		h3 Documentación

	.container
		.holder
			p.el Con la finalidad de generar un mejor soporte al cliente, GSA brinda toda la información posible sobre los proyectos realizados, cunpliendo con la entrega en un 100% de la documentación requerida por el cliente como es:	

			ul.el
				li Descripción del Sistema.	
				li Descripción de la Operación.	
				li Diagramas eléctricos.	
				li Respaldos de Programasimplementados y/o de las  modificaciones realizados.	
				li Listado de Partes.

p.related
	| Contactanos
	a(href="@")
		| mail@mail.com