h2
	| Productos
	span Distribuidor autorizado

ul.gallery
	li
		p
			img(src="assets/img/productos/siemens.jpg", alt="")
	li
		p
			img(src="assets/img/productos/pxcpntact.jpg", alt="")
	li
		p
			img(src="assets/img/productos/rittal.jpg", alt="")
	li
		p
			img(src="assets/img/productos/sew.jpg", alt="")

p.related
	| Contactanos
	a(href="@")
		| mail@mail.com