h2
	| Empresa
	span Nosotros

h3 MISIÓN
p Satisfacer de manera competitiva las necesidades de servicios integrales de nuestros clientes, en materia de proyectos de automatización e instalación de controles automáticos.
p Mejorar la eficiencia de rendimiento y control de líneas de producción,cuidando y respetando las necesidades de nuestros clientes y del medio ambiente. 
p Siendo una empresa flexible e innovadora ofreciendo la tecnología mas moderna adecuadamente aplicando a las necesidades de nuestros clientes.

h3 HISTORIA
p  GSA se creo con la finalidad ser la mejor opción para nuestros clientes. Es una Empresa mexicana, dedicada a ofrecer servicios en automatización para la industria, comprometida en poner a disposición de nuestros clientes y usuarios los mejores servicios posibles, para mejorar la eficiencia de sus líneas de producción. Fundada en el ano 2000 en Morelia, Michoacán, por 2 socios, los cuales con esfuerzo y pasión han logrado la satisfacción de nuestros clientes, tanto internos como externos. Hoy, GSA es fuente directa de empleo para 8 personas las cuales practican diariamente nuestra filosofía.

p.related
	| Contactanos
	a(href="@")
		| mail@mail.com