h2
	| Productos
	span Distribuidor autorizado

ul.gallery
	li
		img(src="assets/img/productos/siemens.jpg", alt="")
	li
		img(src="assets/img/productos/pxcpntact.jpg", alt="")
	li
		img(src="assets/img/productos/rittal.jpg", alt="")
	li
		img(src="assets/img/productos/sew.jpg", alt="")

include _contact